capi-fit-cruise-booking-adapter/src/main/resources/schemas/ota-cruise/CommonTypes_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by RCL (Royal Caribbean Cruises Ltd.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://services.rccl.com/rsvr/api/commontypes/v1.0"
           xmlns:sitypes="http://services.rccl.com/rsvr/api/simpletypes/v1.0"
           targetNamespace="http://services.rccl.com/rsvr/api/commontypes/v1.0" elementFormDefault="unqualified"
           attributeFormDefault="unqualified" version="1.0">
    <xs:import namespace="http://services.rccl.com/rsvr/api/simpletypes/v1.0" schemaLocation="SimpleTypes_v1.0.xsd"/>
    <xs:complexType name="SuccessType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA
                message. Returning an empty element of this type indicates
                success.
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="WarningType">
        <xs:simpleContent>
            <xs:extension base="FreeTextType">
                <xs:attribute name="Type" type="sitypes:LookupCodeType" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The Warning element MUST contain the Type
                            attribute that uses a recommended set of values to indicate the warning
                            type. The validating XSD can expect to accept values that it has NOT
                            been explicitly coded for and process them by using Type ="Unknown".
                            Refer to OTA Code List Error Warning Type (EWT).
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attributeGroup ref="sitypes:ErrorWarningAttributeGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="WarningsType">
        <xs:sequence>
            <xs:element name="Warning" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="WarningType"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="POS_Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">Point of Sale (POS) is the details identifying the party
                or connection channel making the request.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Source" type="SourceType" maxOccurs="10">
                <xs:annotation>
                    <xs:documentation xml:lang="en">This holds details regarding the requestor. It
                        may be repeated to also accommodate the delivery systems.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SourceType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Provides information on the source of a
                request.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RequestorID" type="UniqueID_Type" minOccurs="0"/>
            <xs:element name="BookingChannel" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the booking channel type and whether
                        it is the primary means of connectivity of the source.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">Identifies the company that is
                                    associated with the booking channel.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="sitypes:BookingChannelGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="AgentSine" type="sitypes:StringLength1to16" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Identifies the party within the requesting
                    entity.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PseudoCityCode" type="sitypes:StringLength1to16" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">An identification code assigned to an office/agency
                    by a reservation system.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ISOCountry" type="sitypes:ISO3166" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The country code of the requesting
                    party.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ISOCurrency" type="sitypes:AlphaLength3" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The currency code in which the reservation will be
                    ticketed.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AgentDutyCode" type="sitypes:StringLength1to16" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">An authority code assigned to a
                    requestor.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AirlineVendorID" type="sitypes:UpperCaseAlphaNumericLength2to3" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The IATA assigned airline code.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AirportCode" type="sitypes:UpperCaseAlphaNumericLength3to5" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The IATA assigned airport code.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FirstDepartPoint" type="sitypes:StringLength3" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The point of first departure in a
                    trip.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ERSP_UserID" type="sitypes:StringLength1to16" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Electronic Reservation Service Provider (ERSP)
                    assigned identifier used to identify the individual using the ERSP
                    system.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TerminalID" type="sitypes:StringLength1to32" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">This is the electronic address of the device from
                    which information is entered.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="CompanyNameType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="sitypes:StringLength0to128">
                <xs:attributeGroup ref="sitypes:CompanyID_AttributesGroup"/>
                <xs:attribute name="Division" type="sitypes:StringLength1to32" use="optional">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The division name or ID with which the
                            contact is associated.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Department" type="sitypes:StringLength1to32" use="optional">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The department name or ID with which the
                            contact is associated.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attributeGroup ref="sitypes:CompanyProfile_AttributesGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CompanyInfoType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Identifies a company by profile.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CompanyName" type="CompanyNameType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ContactInfo" type="ContactType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RestrictionInfoType">
        <xs:annotation>
            <xs:documentation xml:lang="en">profile restrictions</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RestrictionInfo" type="GenericLineItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QualifierInfoType">
        <xs:annotation>
            <xs:documentation xml:lang="en">profile Qualifiers</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Qualifier" type="GenericEchoTokenType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UniqueID_Type">
        <xs:sequence>
            <xs:element name="CompanyName" type="CompanyNameType" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="sitypes:UniqueID_Group"/>
    </xs:complexType>
    <xs:complexType name="SailingInfoType">
        <xs:sequence>
            <xs:element name="SelectedSailing" minOccurs="0">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="SailingBaseType">
                            <xs:attribute name="VoyageID" type="sitypes:StringLength1to32" use="optional"/>
                            <xs:attribute name="Status" type="sitypes:LookupCodeType" use="optional"/>
                            <xs:attribute name="SailingDescriptionCode" type="sitypes:ListOfOTA_CodeType"/>
                            <xs:attributeGroup ref="sitypes:DateSpanGroup"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="InclusivePackageOption" minOccurs="0">
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:CruisePackageGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SailingBaseType">
        <xs:sequence>
            <xs:element name="CruiseLine">
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:ShipReferenceGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Region" minOccurs="0">
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:RegionGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeparturePort" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="LocationType">
                            <xs:attribute name="EmbarkationTime" type="xs:dateTime" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ArrivalPort" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="LocationType">
                            <xs:attribute name="DebarkationDateTime" type="xs:dateTime"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GrpSailingType">
        <xs:complexContent>
            <xs:extension base="SailingInfoType">
                <xs:attribute name="MaxCabinOccupancy" type="sitypes:Numeric1to99" use="optional"/>
                <xs:attribute name="GAPPoints" type="sitypes:Numeric0to999" use="optional"/>
                <xs:attribute name="NCCFIncluded" type="sitypes:YesNoType" use="optional"/>
                <xs:attribute name="NextSailingDate" type="sitypes:DateStringType" use="optional"/>
                <xs:attribute name="PreviousSailingDate" type="sitypes:DateStringType" use="optional"/>
                <xs:attribute name="MinimumCabinsRequired" type="sitypes:Numeric1to99" use="optional"/>
                <xs:attribute name="MaximumCabinsAllowed" type="sitypes:Numeric1to99" use="optional"/>
                <xs:attribute name="TaxesAndFee" type="sitypes:Money" use="optional"/>
            </xs:extension>
            <!--<xs:sequence>
                <xs:element name="Dining" minOccurs="0" maxOccurs="10">
                <xs:complexType>
                <xs:attribute name="Sitting" type="sitypes:StringLength1to64" use="required"/>
                <xs:attribute name="Status" type="sitypes:LookupCodeType" use="optional"/>
                </xs:complexType>
                </xs:element>
                <xs:element name="Transportation" type="GuestTransportationType" minOccurs="0" maxOccurs="5"/>
                <xs:element name="Information" type="ParagraphType" minOccurs="0" maxOccurs="5"/>
                <xs:element name="GroupPolicyInfo" minOccurs="0" maxOccurs="10">
                <xs:complexType>
                <xs:attributeGroup ref="GroupPolicyTypeGroup"/>
                </xs:complexType>
                </xs:element>
                <xs:element name="CategoryOption" type="CategoryOptionType" maxOccurs="6"/>
                </xs:sequence>-->
            <!--<xs:attribute name="CategoryLocation" type="CategoryLocationType" use="optional"/>-->
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LocationType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Code and optional string to describe a location
                point.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="sitypes:LocationGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="RelatedTravelerType">
        <xs:annotation>
            <xs:documentation source="Description" xml:lang="en">Other traveler profiles associated
                with an specific individual.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0"/>
            <xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
            <xs:element name="LinkedReference" type="GenericLineItemType" minOccurs="0" maxOccurs="10"/>
        </xs:sequence>
        <xs:attribute name="Relation" type="sitypes:StringLength1to32" use="optional"/>
        <xs:attributeGroup ref="sitypes:BirthDateGroup"/>
    </xs:complexType>
    <xs:complexType name="ReservationResultsType">
        <xs:annotation>
            <xs:documentation source="Description" xml:lang="en">Booking Summary.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SailingInfo" type="GrpSailingType" minOccurs="0"/>
            <xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0"/>
            <xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
            <xs:element name="Warnings" type="WarningsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="TransferStatus" type="sitypes:LookupCodeType" use="optional"/>
        <xs:attribute name="ReservationStatus" type="sitypes:LookupCodeType" use="optional"/>
        <xs:attribute name="PaymentAllocationRequired" type="sitypes:LookupCodeType"/>
    </xs:complexType>
    <xs:complexType name="PersonNameType">
        <xs:sequence>
            <xs:element name="NamePrefix" type="sitypes:StringLength1to16" minOccurs="0" maxOccurs="3"/>
            <xs:element name="GivenName" type="sitypes:StringLength1to64" minOccurs="0" maxOccurs="5"/>
            <xs:element name="MiddleName" type="sitypes:StringLength1to64" minOccurs="0" maxOccurs="3"/>
            <xs:element name="Surname" type="sitypes:StringLength1to64"/>
            <xs:element name="NameSuffix" type="sitypes:StringLength1to16" minOccurs="0" maxOccurs="3"/>
            <xs:element name="Document" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="DocID" type="sitypes:StringLength1to32" use="optional"/>
                    <xs:attribute name="DocType" type="sitypes:LookupCodeType" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Language" type="xs:language"/>
        <xs:attribute name="DefaultInd" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="AddressLine" type="sitypes:StringLength1to255" minOccurs="0" maxOccurs="5"/>
            <xs:element name="CityName" type="sitypes:StringLength1to64" minOccurs="0"/>
            <xs:element name="PostalCode" type="sitypes:StringLength1to16" minOccurs="0"/>
            <xs:element name="County" type="sitypes:StringLength1to32" minOccurs="0"/>
            <xs:element name="StateProv" type="sitypes:StringLength0to64" minOccurs="0"/>
            <xs:element name="Province" type="sitypes:StringLength0to64" minOccurs="0"/>
            <xs:element name="CountryName" type="CountryType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Type" type="sitypes:StringLength0to32" use="optional"/>
        <xs:attribute name="Remark" type="sitypes:StringLength1to128" use="optional"/>
        <xs:attribute name="Language" type="xs:language" use="optional"/>
    </xs:complexType>
    <xs:complexType name="EmailType">
        <xs:simpleContent>
            <xs:extension base="sitypes:StringLength1to255">
                <xs:attribute name="DefaultInd" type="xs:boolean" use="optional"/>
                <xs:attribute name="EmailType" type="sitypes:LookupCodeType" use="optional"/>
                <xs:attribute name="Remark" type="sitypes:StringLength1to128" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CountryType">
        <xs:simpleContent>
            <xs:extension base="sitypes:StringLength0to64">
                <xs:attribute name="Code" type="sitypes:ISO3166" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ContactType">
        <xs:sequence>
            <xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
            <xs:element name="Telephone" minOccurs="0" maxOccurs="5">
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:TelephoneAttributesGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="5"/>
            <xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
        <xs:attribute name="DefaultInd" type="xs:boolean" use="optional"/>
        <xs:attribute name="ContactType" type="sitypes:StringLength1to32" use="optional"/>
        <xs:attribute name="Emergency" type="xs:boolean" use="optional"/>
        <xs:attribute name="RPH" type="sitypes:StringLength1to255" use="optional"/>
        <xs:attributeGroup ref="sitypes:BirthDateGroup"/>
    </xs:complexType>
    <xs:complexType name="GuestBaseType">
        <xs:sequence>
            <xs:element name="ContactInfo" type="PersonNameType" minOccurs="0"/>
            <xs:element name="Address" type="AddressType" minOccurs="0"/>
            <xs:element name="Telephone" minOccurs="0" maxOccurs="3">
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:TelephoneAttributesGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="3"/>
            <xs:element name="Transportation" type="GuestTransportationType" minOccurs="0"/>
            <xs:element name="TravelDocuments" type="DocumentType" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="sitypes:GuestInfoGroup"/>
    </xs:complexType>
    <xs:complexType name="GuestQualifierType">
        <xs:complexContent>
            <xs:extension base="GuestBaseType">
                <xs:sequence>
                    <xs:element name="EligibilityQualifier" type="GenericLineItemType" minOccurs="0" maxOccurs="99"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GenericLineItemType">
        <xs:attribute name="Name" type="sitypes:StringLength0to255"/>
        <xs:attribute name="Value" type="sitypes:StringLength0to255"/>
        <xs:attribute name="Type" type="sitypes:StringLength0to255"/>
    </xs:complexType>
    <xs:complexType name="GenericEchoTokenType">
        <xs:attribute name="Name" type="sitypes:StringLength0to255"/>
        <xs:attribute name="Value" type="sitypes:StringLength0to255"/>
        <xs:attribute name="Type" type="sitypes:StringLength0to255"/>
        <xs:attribute name="Code" type="sitypes:StringLength0to255"/>
        <xs:attribute name="RPH" type="sitypes:StringLength0to255"/>
    </xs:complexType>
    <xs:complexType name="RateQualifierItemType">
        <xs:complexContent>
            <xs:extension base="GenericLineItemType">
                <xs:sequence>
                    <xs:element name="Code" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Item" type="GenericLineItemType" minOccurs="0" maxOccurs="99"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CabinPolicyType"/>
    <xs:complexType name="PolicyInfoType">
        <xs:sequence>
            <xs:element name="PolicyInfo" maxOccurs="10">
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:PolicyTypeGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProfileInfoType">
        <xs:sequence>
            <xs:element name="CompanyInfo" type="CompanyInfoType" minOccurs="0"/>
            <xs:element name="Qualifiers" type="QualifierInfoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GuestTransportationType">
        <xs:sequence>
            <xs:element name="GuestCity" type="LocationType" minOccurs="0"/>
            <xs:element name="GatewayCity" type="LocationType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Mode" type="sitypes:LookupCodeType" use="optional"/>
        <xs:attribute name="Status" type="sitypes:LookupCodeType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="DocumentType">
        <xs:sequence>
            <xs:element name="DocHolderName" type="sitypes:StringLength1to64" minOccurs="0"/>
            <xs:element name="DocLimitations" type="sitypes:StringLength1to64" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                    <xs:documentation source="Description" xml:lang="en">Used to indicate any
                        limitations on the document (e.g. as a person may only be allowed to spend a
                        max of 30 days in country on a visitor's visa).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="DocIssueAuthority" type="sitypes:StringLength1to64" use="optional"/>
        <xs:attribute name="DocIssueLocation" type="sitypes:StringLength1to64" use="optional"/>
        <xs:attribute name="DocID" type="sitypes:StringLength1to32" use="optional"/>
        <xs:attribute name="DocType" type="sitypes:LookupCodeType" use="optional"/>
        <xs:attributeGroup ref="sitypes:EffectiveExpireDateGroup"/>
        <xs:attribute name="DocIssueCountry" type="sitypes:ISO3166" use="optional"/>
        <xs:attribute name="BirthCountry" type="sitypes:ISO3166" use="optional"/>
        <xs:attribute name="BirthPlace" type="sitypes:StringLength1to64" use="optional"/>
        <xs:attribute name="DocHolderNationality" type="sitypes:ISO3166" use="optional"/>
        <xs:attribute name="ContactName" type="sitypes:StringLength1to64" use="optional"/>
        <xs:attribute name="Remark" type="sitypes:StringLength1to128" use="optional"/>
        <xs:attribute name="PostalCode" type="sitypes:StringLength1to16" use="optional"/>
    </xs:complexType>
    <xs:complexType name="GrpProfileInfoType">
        <xs:sequence>
            <xs:element name="GroupID" type="UniqueID_Type" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="GroupName" type="sitypes:StringLength0to255" use="optional"/>
        <xs:attribute name="GroupType" type="sitypes:LookupCodeType" use="optional"/>
        <xs:attribute name="GroupSubType" type="sitypes:LookupCodeType" use="optional">
            <xs:annotation>
                <xs:documentation>Provides the type of Group. ( e.g Affinity / Promotional
                    )
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="GroupStatus" type="sitypes:LookupCodeType" use="optional">
            <xs:annotation>
                <xs:documentation>Status of the Group. (Offered / Booked / Cancelled etc. (Ignored
                    in the request messages.) OTACodeType
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TaxesAndFee" type="sitypes:Money" use="optional"/>
        <xs:attribute name="GroupTypeText" type="sitypes:StringLength1to255" use="optional"/>
        <xs:attribute name="GroupProfileDescription" type="sitypes:StringLength1to255" use="optional"/>
        <xs:attribute name="GroupGuestCount" type="sitypes:Numeric0to999" use="optional"/>
        <xs:attribute name="GroupEffectiveDate" type="sitypes:DateOrTimeOrDateTimeType" use="optional"/>
        <xs:attribute name="GroupBookDate" type="sitypes:DateOrTimeOrDateTimeType" use="optional"/>
        <xs:attribute name="AvailableGAPPoints" type="sitypes:Numeric0to999"/>
        <xs:attribute name="AllocatedGapPoints" type="sitypes:Numeric0to999"/>
        <xs:attribute name="OriginalGAPPoints" type="sitypes:Numeric0to999" use="optional">
            <xs:annotation>
                <xs:documentation>Provides redemption points for group amenities (Ignored in the
                    request messages).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="VendorGroupCoordinator" type="sitypes:StringLength1to64" use="optional">
            <xs:annotation>
                <xs:documentation>Provides First Name of Group Coordinator from the Vendor company.
                    e.g RCCL Group Coordinator.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="VendorGroupAirCoordinator" type="sitypes:StringLength1to64" use="optional">
            <xs:annotation>
                <xs:documentation>Provides First Name of Group AIR Coordinator from the Vendor
                    company. e.g RCCL Group Coordinator.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="VacationProtection" type="sitypes:YesNoType" use="optional">
            <xs:annotation>
                <xs:documentation>Identifies whether a Group is covered by Vacation Protection
                    Program or not.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractGroup" type="sitypes:YesNoType" use="optional"/>
        <xs:attribute name="ContractDate" type="xs:date" use="optional"/>
        <xs:attribute name="ContractType" type="sitypes:LookupCodeType"/>
        <xs:attribute name="AmenitiesExists" type="sitypes:YesNoType" use="optional"/>
        <xs:attribute name="DiningConfiguration" use="optional">
            <xs:annotation>
                <xs:documentation>Indicates Dining configuration for the whole group. Nametoken.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="Apart"/>
                    <xs:enumeration value="Together"/>
                    <xs:enumeration value="RoundRobin"/>
                    <xs:enumeration value="DoNotSeat"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="PrePaidGratuities" type="sitypes:YesNoType" use="optional"/>
        <xs:attribute name="ReinstatedGroup" type="sitypes:YesNoType" use="optional"/>
        <xs:attribute name="DocumentationLanguage" type="xs:language" use="optional"/>
        <xs:attribute name="ReleaseTickets" type="sitypes:YesNoType" use="optional"/>
        <xs:attribute name="HoldTickets" type="sitypes:YesNoType" use="optional"/>
        <xs:attribute name="ExtendOption" type="sitypes:YesNoType" use="optional">
            <xs:annotation>
                <xs:documentation>Makes a request to extend the payment option dates for a
                    group.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="InternationalGroup" type="sitypes:YesNoType" use="optional"/>
        <xs:attribute name="GroupDirectContactPassengerID" type="sitypes:StringLength1to32" use="optional">
            <xs:annotation>
                <xs:documentation>Identifies the ID of the passenger thats designated as the direct
                    contact person for the group
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="sitypes:GrpAuditGroup"/>
        <xs:attributeGroup ref="sitypes:CruiseGrpTourConductorCreditsGroup"/>
        <xs:attribute name="GroupPolicyType" type="sitypes:StringLength0to32" use="optional">
            <xs:annotation>
                <xs:documentation>Identifies the group payment policy type</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UnAssignedDiningQuantity" type="sitypes:Numeric0to9999" use="optional">
            <xs:annotation>
                <xs:documentation>Provides unassigned count facility for Promotional Groups etc
                    where Allocation is not allowed until Bookings are created within the
                    Group
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MoreGroupsExist" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="FreeTextType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="sitypes:LanguageGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CabinOptionType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Specifies cabin option info.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CabinConfiguration" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies cabin bed
                        configuration.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="BedConfigurationCode" type="sitypes:StringLength1to8" use="optional">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Contains a code defining the bed
                                configuration in the cabin.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ViewObstruction" type="sitypes:Numeric0to999" use="optional">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">This value gives the obstructed view percentage for the
                                cabin window
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="MeasurementInfo" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Provides area information related to the
                        cabin.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:UnitsOfMeasureGroup">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Provides the unit of measure information
                                for the item identified by the Code.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attributeGroup>
                    <xs:attributeGroup ref="sitypes:OptionalCodeOptionalNameGroup">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">This will provide the item for which
                                measurements are being provided (e.g., balcony,
                                cabin).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attributeGroup>
                    <xs:attribute name="DimensionInfo" type="sitypes:StringLength1to32" use="optional">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">The dimensions associated with the
                                cabin, balcony, or window (e.g., 10x12)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Remark" type="FreeTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Remark information related to the cabin
                        option.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Status" type="sitypes:LookupCodeType" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the status of the cabin. Refer to OTA Code
                    table Status (STS).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CategoryLocation" type="sitypes:CategoryLocationType" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the category location.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShipSide" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Identifies the ship side location of the
                    cabin.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="Starboard">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Right side.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Port">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Left side.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="PositionInShip" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Position of the cabin in ship (e.g.,
                    aft).
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="Aft">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">This is the back of the
                                ship.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Forward">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">This is the front of the
                                ship.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Midship">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">This is the middle of the
                                ship.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="BedType" type="sitypes:LookupCodeType" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the bed type for this cabin. Refer to OTA
                    Codelist Bed Type (BED).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="sitypes:CruiseCabinGroup"/>
        <xs:attribute name="ReleaseDateTime" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The date and time the held cabin will be released
                    back to inventory if not booked. Typically, this is the same ReleaseDateTime
                    that was provided in the CabinHoldRS.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="sitypes:DeckGroup">
            <xs:annotation>
                <xs:documentation xml:lang="en">Provides the deck name and
                    number.
                </xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute name="CabinCategoryStatusCode" type="sitypes:LookupCodeType" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The status of the berth category of the cabin. Refer
                    to OTA Code Table STS (Status).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CabinCategoryCode" type="sitypes:StringLength1to8" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The berth category of the cabin.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CabinRanking" type="sitypes:Numeric1to999" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The relative ranking of the cabin based on location
                    preference, a better view, etc.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ConnectingCabinIndicator" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">If true, the cabin is connected to another
                    cabin.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ConnectingCabinNumber" type="sitypes:StringLength1to8" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">The number of the connecting
                    cabin.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TPA_PromotionInfoType">
        <xs:attributeGroup ref="sitypes:PromotionCodeGroup"/>
    </xs:complexType>
    <xs:complexType name="TCCSummaryInfoType">
        <xs:sequence>
            <xs:element name="Profile" type="ProfileInfoType" minOccurs="0"/>
            <xs:sequence>
                <xs:element name="TCCUsageSummaryInfo" type="TCCUsageSummaryInfoType" minOccurs="0"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TCCUsageSummaryInfoType">
        <xs:sequence>
            <xs:element name="TCCreditCountInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TCCreditCountInfo" type="CabinCountsType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TCCreditAmountInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TCCreditAmounttInfo" type="PriceType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TCCDetailInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TCCDetailInfo" type="TCCDetailInfoType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="sitypes:CruiseGrpTourConductorCreditsGroup"/>
    </xs:complexType>
    <xs:complexType name="TCCDetailInfoType">
        <xs:sequence>
            <xs:element name="TCCreditCountInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TCCreditCountInfo" type="CabinCountsType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TCCreditAmountInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TCCreditAmounttInfo" type="PriceType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Code" type="sitypes:StringLength0to32"/>
        <xs:attribute name="Type" type="sitypes:LookupCodeType"/>
        <xs:attribute name="OverrideFlag" type="sitypes:YesNoType"/>
        <xs:attribute name="RequestSequence" type="sitypes:Numeric0to999"/>
        <xs:attribute name="CabinCategoryCode" type="sitypes:StringLength1to8" use="optional"/>
        <xs:attribute name="PriceIdDescription" type="sitypes:StringLength0to32"/>
    </xs:complexType>
    <xs:complexType name="SelectedCategoryType">
        <xs:annotation>
            <xs:documentation>Specifies Selected category information for a reservation, includes
                cabin selection and cabin attribute details
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Warnings" type="WarningsType" minOccurs="0"/>
            <xs:element name="SelectedPromotions" type="TPA_PromotionInfoType" minOccurs="0" maxOccurs="25"/>
            <xs:element name="CabinAttributes" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Collection of category-level cabin
                        attributes.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CabinAttribute" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>List of attributes associated with all cabins in
                                    the specified category.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:attribute name="CabinAttributeCode" type="sitypes:LookupCodeType" use="optional">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Specifies the type of cabin
                                            requested. Refer to OTA Code List Cabin Filters
                                            (CBF).
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CabinsInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CabinInfo" minOccurs="0" maxOccurs="200">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="CabinOptionType">
                                        <xs:sequence>
                                            <xs:element name="CabinAttributes" minOccurs="0">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="CabinAttribute" maxOccurs="99">
                                                            <xs:complexType>
                                                                <xs:attribute name="CabinAttributeCode"
                                                                              type="sitypes:LookupCodeType"
                                                                              use="optional"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="RetainCabin" type="sitypes:YesNoType" use="optional"/>
                                        <xs:attribute name="CabinInventoryActionCode"
                                                      type="sitypes:AlphaNumericStringLength1" use="optional"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="sitypes:CruiseCategoryDetailGroup">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specificies cruise category information.
                </xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute name="SequenceNumber" type="sitypes:Numeric1to999">
            <xs:annotation>
                <xs:documentation>Indicates relative sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="HeldIndicator" type="sitypes:YesNoType"/>
        <xs:attribute name="WaitlistIndicator" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">When true, this indicates the selected category is
                    waitlisted.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="sitypes:FareGroup"/>
        <xs:attribute name="UpgradeEligibility" type="sitypes:YesNoType"/>
        <xs:attribute name="CabinNumber" type="sitypes:NumericStringLength1to5"/>
        <xs:attribute name="ProximityReferenceCabin" type="sitypes:NumericStringLength1to5"/>
    </xs:complexType>
    <xs:complexType name="SelectedScheduledPaymentType">
        <xs:annotation>
            <xs:documentation>Specifies Selected category information for a reservation, includes
                cabin selection and cabin attribute details
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PaymentSchedule" type="PaymentScheduleCardType" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
        <xs:attribute name="SequenceNumber" type="sitypes:Numeric1to999">
            <xs:annotation>
                <xs:documentation>Indicates relative sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="sitypes:PaymentInstallmentScheduleAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="GrpCategoryAllocationInfoType">
        <xs:sequence>
            <xs:element name="Occupancy" type="sitypes:Numeric1to99"/>
            <xs:element name="SelectedFare">
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:FareGroup"/>
                    <xs:attributeGroup ref="sitypes:TPA_PromotionPriceGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SelectedCategory" type="SelectedCategoryType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies a selected cabin
                        category.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InclusivePackageOption" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Used to request package options that the cruise
                        might offer with the sailing. It is quite common to request, at this stage,
                        packages that are included in the cruise sailing offering (inclusive
                        packages).
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attributeGroup ref="sitypes:CruisePackageGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="RequestSequence" type="sitypes:Numeric0to999">
            <xs:annotation>
                <xs:documentation>Indicates relative sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RequestedCabinsQty" type="sitypes:Numeric0to9999">
            <xs:annotation>
                <xs:documentation>Cabins Requested</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NamedCabinGtysQty" type="sitypes:Numeric0to9999">
            <xs:annotation>
                <xs:documentation>Cabins Guaranteed with Names</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UnNamedCabinGtysQty" type="sitypes:Numeric0to9999">
            <xs:annotation>
                <xs:documentation>Cabins Guaranteed without Names</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NamedCabinsQty" type="sitypes:Numeric0to9999">
            <xs:annotation>
                <xs:documentation>Cabins Allocated with Names</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UnNamedCabinsQty" type="sitypes:Numeric0to9999">
            <xs:annotation>
                <xs:documentation>Cabins Allocated without Names</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="WaitlistedCabinsQty" type="sitypes:Numeric0to9999">
            <xs:annotation>
                <xs:documentation>Cabins on Waitlist</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ComplimentaryBerthsQty" type="sitypes:Numeric0to9999">
            <xs:annotation>
                <xs:documentation>Earned complimentary cabins - Tour Conductor Credit
                    equivalent.(TCC)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SpecialFare" type="sitypes:YesNoType">
            <xs:annotation>
                <xs:documentation>Special Fare Flag at Group Inventory Level.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SpecialtyInventory" type="sitypes:YesNoType">
            <xs:annotation>
                <xs:documentation>Indicates specialty inventory for the category</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="CategorySearchQualifierType">
        <xs:sequence>
            <xs:element name="Occupancy" type="sitypes:Numeric1to99"/>
            <xs:element name="SelectedCategory" type="SelectedCategoryType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FormattedTextTextType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Formatted" type="xs:boolean" use="optional"/>
                <xs:attributeGroup ref="sitypes:LanguageGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ParagraphType">
        <xs:annotation>
            <xs:documentation xml:lang="en">An indication of a new paragraph for a sub-section of a
                formatted text message.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Text" type="FormattedTextTextType"/>
            <xs:element name="Image" type="xs:string"/>
            <xs:element name="URL" type="xs:anyURI"/>
            <xs:element name="ListItem">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="FormattedTextTextType">
                            <xs:attribute name="ListItem" type="xs:integer" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="Name" type="sitypes:StringLength1to64" use="optional"/>
        <xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attributeGroup ref="sitypes:DateTimeStampGroup"/>
        <xs:attributeGroup ref="sitypes:LanguageGroup"/>
    </xs:complexType>
    <xs:complexType name="ErrorType">
        <xs:simpleContent>
            <xs:extension base="FreeTextType">
                <xs:attribute name="Type" type="sitypes:LookupCodeType" use="required"/>
                <xs:attributeGroup ref="sitypes:ErrorWarningAttributeGroup"/>
                <xs:attribute name="NodeList" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ErrorsType">
        <xs:sequence>
            <xs:element name="Error" type="ErrorType" maxOccurs="99"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceType">
        <xs:attribute name="Code" type="sitypes:LookupCodeType"/>
        <xs:attribute name="Amount" type="sitypes:Money"/>
        <xs:attribute name="Type" type="sitypes:LookupCodeType"/>
        <!-- <Price Amount="" Type="RatePriceAmount/PromotionAmount/RateNetAmount/ValueAddedAmount"/> -->
    </xs:complexType>
    <xs:complexType name="GrpAmenityOptionType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Defines the amenity/gift and its form of delivery.</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0">
            <xs:element name="Originator" type="PersonNameType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The person requesting the amenity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Message" type="ParagraphType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the additional comments or message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ConcessionInfos" type="ConcessionInfos" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="OptionCode" type="sitypes:StringLength1to16" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the amenity, gift or option code as defined by the cruise
                    line.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OptionType" type="sitypes:StringLength1to16" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the amenity, gift or option type as defined by the cruise
                    line.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OptionDescription" type="sitypes:StringLength1to128" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the amenity, gift or option description as defined by the
                    cruise line.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Quantity" type="sitypes:Numeric0to9999" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the quantity of the Amenity order</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DeliveryDate" type="sitypes:DateStringType" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the delivery date of the Amenity/Gift</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DeliveryLocation" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the delivery location (e.g., cabin
                    , dining room
                    ).
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="person"/>
                    <xs:enumeration value="diningroom"/>
                    <xs:enumeration value="cabin"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="RedemptionGapPoints" type="sitypes:Numeric0to9999" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the Gap Points needed for redemption of Amenity
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ConcessionActionCode" type="sitypes:AlphaNumericStringLength1" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies the Type of action on the Amenity</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PriceBreakDown">
        <xs:sequence>
            <xs:element name="GuestPriceInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="4">
                        <xs:element name="GuestPriceInfo">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="PriceSummaryInfos" type="PriceType" minOccurs="0" maxOccurs="10"/>
                                </xs:sequence>
                                <xs:attribute name="RPH" type="sitypes:RPH_Type"/>
                                <xs:attribute name="AgeQualifyingCode" type="sitypes:LookupCodeType"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PriceSummaryInfos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="10">
                        <xs:element name="PriceSummaryInfo" minOccurs="0">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="PriceType"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="BasePriceId" type="sitypes:AlphaNumericStringLength1to50"/>
        <xs:attribute name="PromotionsApplied" type="sitypes:Numeric0to999"/>
        <xs:attribute name="Promotions" type="sitypes:StringLength0to64"/>
        <xs:attribute name="ValueAddedPromotionsApplied" type="sitypes:Numeric0to999"/>
        <!--<PriceBreakDown BasePriceId="" PromotionsApplied="" Promotions="" ValueAddedPromotionsApplied="">-->
        <!-- Types of promotions -->
    </xs:complexType>
    <xs:complexType name="PriceInfo">
        <xs:sequence>
            <xs:element name="PriceBreakDown" type="PriceBreakDown" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="RequestSequence" type="sitypes:Numeric0to999"/>
        <xs:attribute name="CategoryCode" type="sitypes:AlphaNumericStringLength1to8"/>
        <xs:attribute name="RateId" type="sitypes:Numeric1to99"/>
        <xs:attribute name="BestValue" type="sitypes:StringLength0to8"/>
        <xs:attribute name="BookingType" type="sitypes:LookupCodeType"/>
        <xs:attribute name="PriceId" type="sitypes:AlphaNumericStringLength1to20"/>
        <xs:attribute name="PriceType" type="sitypes:LookupCodeType"/>
        <xs:attribute name="PriceDescription" type="sitypes:StringLength0to32"/>
        <xs:attribute name="PriceStatus" type="sitypes:LookupCodeType"/>
        <xs:attribute name="NonRefundableType" type="sitypes:LookupCodeType"/>
        <!--<PriceInfo RateId="" BestValue="" BookingType="" PriceId="" PriceType="" PriceDescription="" PriceStatus="">-->
    </xs:complexType>
    <xs:complexType name="ConcessionSummary">
        <xs:sequence>
            <xs:element name="PricingInfos" type="ConcessionPricingInfos" minOccurs="0"/>
            <xs:element name="ConcessionOptions" type="ConcessionInfos" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="ReferenceID" type="sitypes:StringLength0to32"/>
        <xs:attribute name="Quantity" type="sitypes:Numeric0to999"/>
        <!--<PriceInfo RateId="" BestValue="" BookingType="" PriceId="" PriceType="" PriceDescription="" PriceStatus="">-->
    </xs:complexType>
    <xs:complexType name="PriceInfos">
        <xs:sequence>
            <xs:element name="PriceInfo" type="PriceInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CabinCountsType">
        <xs:attribute name="Status" type="sitypes:LookupCodeType"/>
        <xs:attribute name="Count" type="sitypes:Numeric0to9999"/>
        <xs:attribute name="Type" type="sitypes:LookupCodeType"/>
        <xs:attribute name="MoreIndicator" type="sitypes:YesNoType"/>
    </xs:complexType>
    <xs:complexType name="CabinInfoType">
        <xs:sequence>
            <xs:element name="CabinInventoryInfo" type="CabinCountsType" maxOccurs="10"/>
        </xs:sequence>
        <xs:attribute name="CabinLocation" type="sitypes:AlphaLength1"/>
    </xs:complexType>
    <xs:complexType name="CategoryInfo">
        <xs:sequence>
            <xs:element name="CabinInventoryInfos" type="CabinInfoType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Status" type="sitypes:LookupCodeType"/>
        <!--<GroupCategoryInfo Status="" CabinsAvailable="" MoreIndicator="" GtysAvailable="">
        <CabinInfo CabinLocation="">
            <CabinCounts Count="" Type="Regular/Handicap" MoreIndicator/>
        </CabinInfo>
        </GroupCategoryInfo>-->
    </xs:complexType>
    <xs:complexType name="CategoryOption">
        <xs:sequence>
            <xs:element name="IndividualCategoryInfo" type="CategoryInfo" minOccurs="0"/>
            <xs:element name="GroupCategoryInfo" type="CategoryInfo" minOccurs="0"/>
            <xs:element name="PriceInfos" type="PriceInfos" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="CategoryLocation" type="sitypes:CategoryLocationType"/>
        <xs:attribute name="CategoryCode" type="sitypes:StringLength0to8"/>
        <xs:attribute name="Description" type="sitypes:StringLength0to32"/>
        <xs:attribute name="ACSAvailable" type="sitypes:YesNoType"/>
        <xs:attribute name="CNCAvailable" type="sitypes:YesNoType"/>
        <xs:attribute name="SuperCategory" type="sitypes:StringLength0to8"/>
        <xs:attribute name="MaxUpgradableCategory" type="sitypes:AlphaLength1to2"/>
        <xs:attribute name="MaxOccCabinsAvailable" type="sitypes:YesNoType"/>
        <!--<CategoryOption CategoryCode="" Description="" ACSAvailable="" SuperCategory="" MaxUpgradableCategory="">-->
    </xs:complexType>
    <xs:complexType name="CategoryOptions">
        <xs:sequence>
            <xs:element name="CategoryOption" type="CategoryOption" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConcessionInfos">
        <xs:sequence>
            <xs:element name="ConcessionInfo" type="CabinCountsType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConcessionPricingInfos">
        <xs:sequence>
            <xs:element name="ConcessionPricingInfo" type="PriceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyType">
        <xs:attribute name="Code" type="sitypes:AlphaLength3"/>
        <xs:attribute name="Type" type="sitypes:LookupCodeType"/>
        <xs:attribute name="Description" type="sitypes:StringLength0to32"/>
    </xs:complexType>
    <xs:complexType name="PaymentScheduleType">
        <xs:sequence>
            <xs:element name="PaymentScheduleDetails" type="PaymentScheduleCardType" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
        <xs:attributeGroup ref="sitypes:PaymentInstallmentScheduleAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="PaymentScheduleCardType">
        <xs:sequence>
            <xs:element name="PaymentScheduleDetails" type="PaymentCardDetailType" maxOccurs="25"/>
        </xs:sequence>
        <xs:attributeGroup ref="sitypes:PaymentCardAttributeGroup"/>
    </xs:complexType>
    <!--	<xs:complexType name="PaymentScheduleDetailType">
        <xs:attributeGroup ref="sitypes:PaymentInstallmentScheduleDetailAttributeGroup"/>
    </xs:complexType> -->
    <xs:complexType name="PaymentType">
        <xs:sequence>
            <xs:element name="PaymentCard" type="PaymentCardType"/>
            <xs:element name="PaymentSchedule" type="PaymentCardDetailType" maxOccurs="25"/>
        </xs:sequence>
        <xs:attribute name="RPH" type="sitypes:RPH_Type"/>
        <xs:attribute name="CostCenterID" type="sitypes:LookupCodeType"/>
    </xs:complexType>
    <xs:complexType name="PaymentCardType">
        <xs:sequence>
            <xs:element name="CardHolderName" type="sitypes:StringLength1to64" minOccurs="0"/>
            <xs:element name="CardIssuerName" type="sitypes:StringLength1to64" minOccurs="0"/>
            <xs:element name="Address" type="AddressType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="CardType" type="sitypes:LookupCodeType" use="optional"/>
        <xs:attribute name="CardCode" type="sitypes:AlphaNumericStringLength1to3" use="optional"/>
        <xs:attribute name="CardNumber" type="sitypes:AlphaNumericStringLength1to19" use="optional"/>
        <xs:attribute name="TransactionType" type="sitypes:StringLength1to16"/>
        <xs:attribute name="ControlSeqNo" type="sitypes:Numeric0to7"/>
        <xs:attribute name="SeriesCode" type="sitypes:Numeric1to99" use="optional"/>
        <xs:attribute name="EffectiveDate" type="sitypes:DateStringType" use="optional"/>
        <xs:attribute name="ExpireDate" type="sitypes:MMYYDate" use="optional"/>
        <xs:attribute name="MaskedCardNumber" type="sitypes:AlphaNumericStringLength1to19" use="optional"/>
        <xs:attribute name="CardHolderRPH" type="sitypes:RPH_Type" use="optional"/>
        <xs:attribute name="ExtendPaymentIndicator" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PaymentCardDetailType">
        <xs:sequence>
            <xs:element name="GuestDetails" type="PaymentGuestDetailType" minOccurs="0" maxOccurs="4"/>
        </xs:sequence>
        <xs:attribute name="ActionCode" type="sitypes:LookupCodeType" use="optional"/>
        <xs:attributeGroup ref="sitypes:PaymentInstallmentScheduleDetailAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="PaymentGuestDetailType">
        <xs:sequence>
            <xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="GuestRefNumber" type="sitypes:StringLength1to16" use="optional"/>
        <xs:attribute name="PaymentAmount" type="sitypes:Money"/>
    </xs:complexType>
</xs:schema>
