capi-fit-cruise-booking-adapter/src/main/resources/schemas/ota-wsdls-schemas/OTA_ReadRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05/alpha" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05/alpha" elementFormDefault="qualified" version="1.000" id="OTA2006B">
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05/alpha"/>
	<!-- START OTA_ReadRQ -->
	<xs:element name="OTA_ReadRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">
A generic message, available as an action on several OTA services
which requests a server to read and return the document type
identified by the UniqueID element.
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the party or connection channel making the request.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UniqueID" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">A reference to identify the booking.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="UniqueID_Type">
								<xs:attribute name="LockBookingInd" type="YesNoType">
									<xs:annotation>
										<xs:documentation>Indicates whether the Booking needs locked at retrieval.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="BookInToGroupsEvaluationRequested" type="YesNoType">
									<xs:annotation>
										<xs:documentation>Indicates whether the Booking Transfer into Groups Evaluation is requested.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ExcludeTransferIneligibleBookings" type="YesNoType">
									<xs:annotation>
										<xs:documentation>If set to Yes, Ineligible bookings for Transfers will be excluded in the response.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReadRequests" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">A grouping of Read Requests</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="CruiseReadRequest" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation xml:lang="en">To retrieve cruise booking information when the confirmation number is not known.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SelectedSailing" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Contains information related to the selected sailing. Typically the selected sailing is one of the sailings returned in the previous sailing availability response. </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="SelectedSailingGroup"/>
												<xs:attribute name="GroupCode" type="StringLength1to16">
													<xs:annotation>
														<xs:documentation xml:lang="en">Specifies the group code.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="GuestInfo" type="PersonNameType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Contains the guest information such as last name and first name.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="HistoryRequestedInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation>When true, the history of the reservation should be returned.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="BookingInfoInd" type="YesNoType" use="optional" default="No">
										<xs:annotation>
											<xs:documentation xml:lang="en">When Yes, Additional Bookng level info should be returned.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReadRequest" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">A request to read a reservation when the booking reference is known. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UniqueID" type="UniqueID_Type">
											<xs:annotation>
												<xs:documentation xml:lang="en">The booking reference for the reservation.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Verification" type="VerificationType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">This is to be used for verification that the record being sent is the specific record requested. This is optional and is intended to provide a more secure mechanism to ensure the correct record is being sent. </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="HistoryRequestedInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation>When true, the history of the reservation should be returned.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="GlobalReservationReadRequest" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">An individual Read Request for a global reservation when the booking reference is not known</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TravelerName" type="PersonNameType">
											<xs:annotation>
												<xs:documentation xml:lang="en">The name of the traveler for whom the reservation is requested.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attributeGroup ref="DateTimeSpanGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The travel start date.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="HotelReadRequest" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">To retrieve a hotel reservation when the booking reference is not known. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CityName" type="StringLength1to64" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">City name eg. Dublin</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Airport" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Airport code and airport name for the location of the hotel.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="LocationCode" type="StringLength1to8" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The airport code for the location of the hotel.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="CodeContext" type="StringLength1to32" default="IATA">
													<xs:annotation>
														<xs:documentation xml:lang="en">Identifies the context of the location code, such as IATA, ARC, or internal code, etc.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="AirportName" type="StringLength1to64" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">The airport location name.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="UserID" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">The user id and pin number of the person for whom the reservation is for.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="UniqueID_Type">
														<xs:attribute name="PinNumber" type="StringLength1to16" use="optional"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Verification" type="VerificationType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">This is to be used for verification that the record being sent is the specific record requested.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="TPA_Extensions" minOccurs="0"/>
									</xs:sequence>
									<xs:attributeGroup ref="HotelReferenceGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The hotel name, hotel code, and city code for the hotel booked in a reservation.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="AirReadRequest" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">To retrieve an airline reservation when the booking reference is not known or to search for a list of passengers meeting certain criteria </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="POS" type="POS_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">To request a list of reservations made by specified travel agent, ERSP, booking channel, etc.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Airline" type="CompanyNameType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specify airline on which the person is booked.
</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FlightNumber" type="FlightNumberType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specific flight number on which the passenger is booked.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DepartureAirport" type="LocationType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Flight Origin - IATA 3 letter code.  </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DepartureDate" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Request a reservation with this departure date.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Name" type="PersonNameType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Request a reservation based on a passenger name.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Telephone" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Request a reservation based on a telephone number.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="TelephoneGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="CustLoyalty" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Request booking records based on frequent flyer information.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="CustomerLoyaltyGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="CreditCardInfo" type="PaymentCardType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Request booking records by credit card information.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="TPA_Extensions" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="SeatNumber" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">To specify a seat number to be used as criteria for requesting a booking record. </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="IncludeFF_EquivPartnerLev" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">When requesting booking records by frequent flyer level, this is used to indicate that booking records with the codeshare equivalent partner level should also be returned.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ReturnFF_Number" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">To specify that FF number should be returned for each booking record in the list.  The default is do not return, set to true, the FF number should be returned.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ReturnDownlineSeg" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">To specify that downline segment info should be returned.  The default is do not return, set to true, the information should be returned.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="InfoToReturn" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">To specify what type of FF level information should be returned.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="ListofFF_StatusLevels"/>
												<xs:enumeration value="NoFF_Status"/>
												<xs:enumeration value="All"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="FF_RequestCriteria" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">To specify criteria as to whether to return only the FF level specified or levels above and below.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="ReturnLevelAndAbove"/>
												<xs:enumeration value="ReturnLevelAndBelow"/>
												<xs:enumeration value="ReturnOnlySpecifiedLevel"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="SearchQualifiers" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">A reference to identify the booking.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SearchQualifierType">
								<xs:attribute name="PageNavigation" type="StringLength1to16"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
			<xs:attributeGroup ref="ReqRespVersion"/>
			<xs:attribute name="ReservationType" type="OTA_CodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">To specify the type of reservation, Global, Air, Hotel, Car, Package, or Golf, that is being requested.  Refer to OTA Code List Travel Sector (TVS). </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ReturnListIndicator" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">To indicate if a list should always be returned even when only one reservation matches the input criteria.  The default is to return the reservation record.  If set to true, then always return a list. </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="ResponseGroup">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to indicate a maximum number of items desired in the list response message or when used for subsequent retrievals of additional data the MoreDataEchoToken determines where to continue the list.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
			<xs:attribute name="TransactionActionCode" type="TransactionActionType" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!-- ENDED OTA_ReadRQ -->
</xs:schema>
