capi-fit-cruise-booking-adapter/src/main/resources/schemas/cosi-xsd-schemas/RetrieveBookingRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://services.rccl.com/RetrieveBookingRS" xmlns:ns1="http://services.rccl.com/COSIHeader" xmlns:ns2="http://services.rccl.com/COSIMessage" targetNamespace="http://services.rccl.com/RetrieveBookingRS" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://services.rccl.com/COSIHeader"/>
	<xs:import namespace="http://services.rccl.com/COSIMessage"/>
	<xs:element name="RetrieveBookingRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:header"/>
				<xs:element ref="ns2:messages" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="retrieveBookingHeader" minOccurs="0"/>
				<xs:element ref="crossReferenceInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="guestInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="pricingBreakdown" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="localLanguageInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="retrieveBookingHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="warningMessageCounter">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="1"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyID1">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="9"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyPhone1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyID2">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="9"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyPhone2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyTravelCounselor">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="addressLine1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="addressLine2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="city">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="state">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="zipCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyPhoneNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bookingID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="shipCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="departureDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="noOfDaysInItinerary">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="packageCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="checkDigit">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="1"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="offerDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="offerTime">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bookDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bookingStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cancellationPenalty">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="checkNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="currencyCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lockDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lockTime">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="daysBeforeSailing">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cabinNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cabinBerth">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="1"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cabinCategory">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="rateCategoryCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="deckCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistCabinNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="autoWaitlistedCabinNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistedCabinCategory">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numberOfGuests">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="1"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="remarks1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="remarks2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passengerSingleFareFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="paymentAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="offerExpirationDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="finalPaymentDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="discountTypeApplied">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="depositAmountDue">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="itineraryCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="creditCardPendingPyament">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="colorCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="berthRateFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPreTour">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPostTour">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowBus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowSpecialService">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowDining">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowWaitlistAir">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowFlights">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowConfirmAir">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowAirDeviation">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPricing">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowHistory">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowReschedule">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowFirstPassengerName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowOtherPassengerName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowAir">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCruiseCare">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPassengerAddition">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPassengerDeletion">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCreditCard">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCheck">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowFax">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowExtendOption">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPassengerBirthday">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPassport">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowAge">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCrossReference">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowWaitlist">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCharterAir">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowConsolidatedPrice">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCitizenship">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowSpecialOccasion">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCancelBooking">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPriceCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCruiseOnlyTransfer">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPastPassengerID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowBedConfiguration">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateAddressFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="geographicReasonCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="subRegionCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyBookingStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tripInsuranceFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tripInsuranceCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="backToBackFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="maximumCreditCardAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="varianceLimitAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowCreditCards">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="upgradeCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cabinConfigurationFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lowerBedType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="splitBookingID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="faxNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="loyaltyRewardNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="loyaltyRewardFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="directMailIndicator">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="amountReceivedInEuro">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionDescription1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionDescription2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bookingStatusFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="smokingPreference">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateLastName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateFirstName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateTitle">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateAddress1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateAddress2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateCity">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateState">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateZipCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="alternateCountry">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="directEmailAddress">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="directPhone">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="directBusinessPhone">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="directFaxNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="directMailFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="shipBrand">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="irReleaseFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nccfFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowTripInsurance">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="travelAgencyLoyaltyID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="16"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirAssessedAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirWithheldAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowChoiceAir">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="offlineBookingType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="docsIssuedFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="restrictedPriceProgram">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="docChoiceAvailableFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="agencyCountryCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="downloadToWeb">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cabinCapacity">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cabinLocationCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="insideOutsideIndicator">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="expeditionFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="directBookingUserID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passengerPaymentAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowBookingAmend">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="deckName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sailingType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="accessibleCabinRequested">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="handicapEquipped">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waRetrievalFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bookingEstimatedTime">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="individualAirCommissionPercentage">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="individualCruiseCommission">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="vatSelfBillingFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="depositDueDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="finalPaymentAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="newOptiondate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="newFinalPaymentDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionExtendedBefore">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="extendOptionDateReturn">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="valueAddCurrenyCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="rateType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="priceType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="priceID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="priceDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sailingBasePriceID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numberOfPromotionsApplied">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="promotionTypes">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numberOfValueAddApplicablePromotions">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="departureInternationalTaxIndicator">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="allowPromotionID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preCruiseMobilePhone">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preCruiseEmailAddress">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bookingRefundableStatusFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="greatestRestrictiveRefundableStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="itgEligibleFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="itgNonEligibilityErrorID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="crossReferenceInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dining">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="air">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tour">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="backToBack">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="guestInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="passengerID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="9"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="airTicketIssueStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistDiningSeating">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistDiningType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistDiningTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passengerStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentSatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lastName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="firstName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pricingCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gender">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="age">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passportNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="citizenship">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="repeatersFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="birthDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="diningSeating">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="diningType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prefererredDiningTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="myTimeDining">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="smokingPreference">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tableSize">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ageGroup">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="1"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tripInsuranceStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourSharingHotelRoomCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="packagePreTour">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourOccupancy">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourCity">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourSharingHotelRoomCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="packagePostTour">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourOccupancy">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourCity">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="busCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="busDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="busStopCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="busStopDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="transferStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="inboundTransferCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="inboundTransferDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="inboundTransferStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="inboundFlightsRequiredCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="inboundCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="outboundTransferCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="outboundTransferDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="outboundTransferStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="outboundFlightsRequiredCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="outboundCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="confirmedAirGatewayCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="airZone">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="airGatewayStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="airDeviationFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistAirGatewayCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistAirZone">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="waitlistAirGatewayStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentCommissionAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentCommissionPercentage">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentProtectedCommissionAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentProtectedCommissionPercentage">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentProtectedCommissionIndicator">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passengerForcedDiscounAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="loyaltyID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="9"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="onBoardLanguage">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="documentationLanguage">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="city">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="state">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="zipCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="countryCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="phoneNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="contactLastName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="contactFirstName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="addressLine1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="addressLine2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="emergencyContactZipCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="emergencyContactCity">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="emergencyContactState">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="emergencyContactPhone">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="emergencyCountryCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passportExipirationDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirEligibility">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirRefundFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirAssessedAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirWithheldAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nonRefundableChargeAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="serviceChargeAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirMarkUpAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirChargeAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="taxAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirDiscountAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirTicketByDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="choiceAirBookedDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourNumberOfDays">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourHotelCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourNumberOfDays">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourHotelCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passportIssueCountry">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="passportMiddleName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="middleNameFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="redressNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="13"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cruiseAirReasonCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="guestPricingType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="childFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="airValidationStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="guestType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="guestPricingTypeCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="preTourRctFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="postTourRctFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cpfNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cpfExemptFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="flightInfo" minOccurs="0" maxOccurs="10">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="inboundOutboundCode" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="airlineCode" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="flightNumber" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="airportLegOrigination" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="flightOriginationDate" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="flightOriginationTime" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="airportLegDestination" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="flightDestinationDate" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="flightDestinationTime" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="operatingCarrier" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="specialServices" minOccurs="0" maxOccurs="4">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="specialServiceCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="specialServiceDate">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="specialServiceYears">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="2"/>
										<xs:fractionDigits value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="specialServiceRemarks">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="specialServiceDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="promotions" minOccurs="0" maxOccurs="20">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="priceID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="promotionSubType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ShortDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="componentCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="discountType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="valueAddCurrencyCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="isNonRefundablePromotion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="options" minOccurs="0" maxOccurs="20">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="optionCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="optionType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="optionDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="flag">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cruiseMatchFlag">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mandatory">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="autoadd">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="publicServiceCodes" minOccurs="0" maxOccurs="unbounded">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="promoCodes" minOccurs="0" maxOccurs="unbounded">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pricingBreakdown">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entityCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="entityType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="chargeType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="specialFare">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="commissionable">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="chargeAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentCommissionPercentage">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentCommissionAmount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentCommissionSign">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="componentDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="itemize">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="autoadd">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="mandatory">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="faceValue">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="faceCurrency">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pricingLevel">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="declined">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="promotionClass">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="airRestricted">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="discountType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="isNonRefundablePromotion">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="localLanguageInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="middleName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lastName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nationalID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nationalIdExpirationDate" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
